[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
nltk = "*"
numpy = "*"
beautifulsoup4 = "*"
html5lib = "*"
matplotlib = "*"

[dev-packages]
colorama = "*"

[requires]
python_version = "3.9"
